# Metadata
/.git/
/.github/
/.dockerignore
/.gcloudignore
/.gitignore

# Build and binary files
/Dockerfile
/Makefile
/smg

# Makefile things
/hack/
/out/
/tmp/

# Config
/.vscode/
/.editorconfig
/.golangci.yaml
/.hadolint.yaml
