<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Menagerie Cracktorio Lab - Server Management</title>
  </head>
  <body>
    <h1>Locations</h1>
      <ul>
{{ range .Locations }}
<li>{{ .Location }} = {{ .Zone }}</li>
{{ else }}
<li>no data</li>
{{ end }}
      </ul>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");

          // Go to 'logged out' area/front page
          window.location.href = "/"; // relative to domain
        });
      }
    </script>
  </body>
</html>
