<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menagerie Cracktorio Lab - Server Management</title>
  </head>
  <body>
    <h1>Locations</h1>
      <ul>
        {{ range .Locations }}
        <li>{{ .Location }} = {{ .Zone }}{{ if .Default }} (default){{ end }}</li>
        {{ else }}
        <li>no data</li>
        {{ end }}
      </ul>
  </body>
</html>
